{% extends 'base.html' %}

{% block title %}Structured Data Overview{% endblock %}

{% block header %}
<h1 style="color: #2980b9;">Structured Data (df3)</h1>
{% endblock %}
{% block content %}
<div>
    <table>
        <thead>
            <tr>
                <th>activities</th>
                <th>start</th>
                <th>end</th>
                <th>minutes</th>
            </tr>
        </thead>
        <tbody>
            {% if df3 is not none and not df3.empty %}
            {% for index, row in df3.iterrows() %}
            <tr>
                <td>{{ row['activities'] }}</td>
                <td>{{ row['start'] }}</td>
                <td>{{ row['end'] }}</td>
                <td>{{ row['minutes'] }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="4">No data available</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
