<!DOCTYPE html>
<html lang="en">
<head>
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/path/to/favicon.ico" type="image/x-icon">

    <!-- Link to external stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    {% block extra_styles %}{% endblock %}
</head>
<body>
    <header role="banner">
        <h1 class="page-header">{% block header %}Data Overview{% endblock %}</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer></footer>
</body>
</html>
