{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block header %}
{% endblock %}

{% block content %}


<div class="container-a">
    <h2>
        The Schedulizer <span>Reset Password</span>
    </h2> 

    <form action="/reset-password" method="POST" class="form-a">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="container-b">
            <label for="email">Email:</label>
            <input 
                type="email" 
                name="email" 
                id="email" 
                class="file-input" 
                placeholder="Enter your email address" 
                aria-label="Email Address"
                autocomplete="email"
                autofocus
                required>
        </div>

        <div class="input-container">
            <button type="submit" class="btn-primary">Reset Password</button>
        </div>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}" style="font-size: 0.7em;">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="description">
        <p>
            Remember password? 
            <a href="/login" class="link">
                <i class="fas fa-sign-in-alt"></i> Login
            </a> 
            <span class="separator">⋮</span>
            No account? 
            <a href="/register" class="link">
                <i class="fas fa-user-plus"></i> Register
            </a>
        </p>
    </div>
    
</div>
{% endblock %}

{% block extra_styles %}
{% endblock %}