{% extends "base.html" %}
{% block title %}Edit Your Schedule{% endblock %}
{% block header %}
<h1 class="page-header">The Schedulizer Web App</h1>
{% endblock %}

{% block content %}
<div class="upload-container">
    <h2 class="mb-3">Saved Frametime</h2>
    
    <p>The app has successfully saved your daily frametime. Below is a summary of your input for each workday (Monday to Friday).</p>

    <h4>What to Do Next:</h4>
    <ul>
        <li>Review the table below to ensure the times are correct.</li>
        <li>If adjustments are needed, click <strong>Edit Frametime</strong>.</li>
        <li>When you're ready, click <strong>Continue</strong>.</li>
    </ul>

    <table class="table">
        <thead>
            <tr>
                <th>Day</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
        </thead>
        <tbody>
            {% for index, row in table.iterrows() %}
            <tr>
                <td>{{ row['day'] }}</td>
                <td>{{ row['start_time'] }}</td>
                <td>{{ row['end_time'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div class="button-container mt-3">
        <button type="button" class="btn btn-secondary" onclick="window.location.href='/frametime'">Go Back</button>
        <button type="button" class="btn btn-primary" onclick="window.location.href='/next_step';">Continue</button>
    </div>
</div>
{% endblock %}
